<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav><ul><li><a href="/">Home</a></li><li><a href="/auth/login">Twitter Login</a></li><li><a href="/auth/logout">Logout</a></li></ul></nav>
    <h1>Login page</h1>
    <main>
        <a href="#" onClick="MyWindow=window.open('/auth/twitter','MyWindow','width=600,height=300');">Twitter</a>
        <!-- <a  -->
    </main>
</body>
</html>